<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_pandas/blob/main/Soulcode_Pandas_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
df['backup_uf'] = df['ocorrencia_uf']
df['backup_cidade'] = df['ocorrencia_cidade']
df['backup_aerodromo'] = df['ocorrencia_aerodromo']

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ...       backup_cidade backup_aerodromo
0              40211               40211  ...      RIO DE JANEIRO             ****
1              40349               40349  ...               BELÉM             SBBE
2              40351               40351  ...      RIO DE JANEIRO             SBRJ
3              39527               39527  ...  LUCAS DO RIO VERDE             ****
4              40324               40324  ...             PELOTAS             SBPK

[5 rows x 12 columns]

In [ ]:
df.loc[df['ocorrencia_aerodromo'] == '****', ['ocorrencia_aerodromo']] = 'MODF'
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ...       backup_cidade backup_aerodromo
0              40211               40211  ...      RIO DE JANEIRO             MODF
1              40349               40349  ...               BELÉM             SBBE
2              40351               40351  ...      RIO DE JANEIRO             SBRJ
3              39527               39527  ...  LUCAS DO RIO VERDE             MODF
4              40324               40324  ...             PELOTAS             SBPK

[5 rows x 12 columns]

In [ ]:
df.loc[df['ocorrencia_cidade'] == 'RIO DE JANEIRO', ['ocorrencia_classificacao']] = 'TRAGEDIA'
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ...       backup_cidade backup_aerodromo
0              40211               40211  ...      RIO DE JANEIRO             MODF
1              40349               40349  ...               BELÉM             SBBE
2              40351               40351  ...      RIO DE JANEIRO             SBRJ
3              39527               39527  ...  LUCAS DO RIO VERDE             MODF
4              40324               40324  ...             PELOTAS             SBPK

[5 rows x 12 columns]

In [ ]:
df.loc[df['ocorrencia_aerodromo'] == 'SBPK', ['ocorrencia_cidade']] = 'ESPECIAL'
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ...       backup_cidade backup_aerodromo
0              40211               40211  ...      RIO DE JANEIRO             MODF
1              40349               40349  ...               BELÉM             SBBE
2              40351               40351  ...      RIO DE JANEIRO             SBRJ
3              39527               39527  ...  LUCAS DO RIO VERDE             MODF
4              40324               40324  ...             PELOTAS             SBPK

[5 rows x 12 columns]

In [ ]:
df.loc[(df['ocorrencia_uf'] == 'RJ') | (df['ocorrencia_uf'] == 'GO')].head(10)

    codigo_ocorrencia  codigo_ocorrencia2  ...      backup_cidade backup_aerodromo
0               40211               40211  ...     RIO DE JANEIRO             MODF
2               40351               40351  ...     RIO DE JANEIRO             SBRJ
19              44575               44575  ...     RIO DE JANEIRO             SBGL
23              40311               40311  ...     RIO DE JANEIRO             MODF
24              41577               41577  ...     RIO DE JANEIRO             MODF
30              39849               39849  ...     RIO DE JANEIRO             SBGL
31              39323               39323  ...  CASIMIRO DE ABREU             MODF
39              40617               40617  ...     RIO DE JANEIRO             SBGL
43              39787               39787  ...            GOIÂNIA             SBGO
48              39235               39235  ...          ITUMBIARA             MODF

[10 rows x 12 columns]